*{
    margin: 0;
}

#firstDiv{
    position: relative;
    width: 100%;
    height: 170px;
}

#img1{
    width: 100%;
    height: 170px;
    opacity: 0.8;
}

.text{
    position: absolute;
    color: #ffffff;
    font-family: 'Paytone One', sans-serif;
    right: 5%;
    top: 10%;
    font-size: 90px;
}


#secondDiv{
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #29a863;
}

.navBar{
    height: 24px;
    width: 12%;
    float: left;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 18px;
    font-size: 24px;
    text-align: center;
}

a:hover{
    background-color: #648d6e;
}

form{
    width: 600px;
    height: 300px;
    position: absolute;
    left: 600px;
    margin: 50px;
}

input{
    height: 20px;
    width: 100px;
}

#thirdDiv{
    position: relative;
}

#forest{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

form{
    width: 70%;
    height: 70%;
    background-color: #29a863;
    position: absolute;
    left: 15%;
    top: 15%;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
}

input{
    height: 5%;
    width: 60%;
}

.button1{
    position: absolute;
    left: 40%;
    width: 20%;
    top: 70%;
}

.button2{
    position: absolute;
    left: 40%;
    width: 20%;
    top: 80%;
}