body{
    /* opacity: 1;*/
    background-image: url(image6.jpg) ;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover ; 
    
    
}
h1{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 3px;
}
h3{
    font-size: 30px;
    margin-top: 7px;
    margin-bottom: 3px;

}
h4{
    padding: 15px;
    margin: 0px;
}
.box1{
    height:400px;
    width:300px;
    text-align: center;
    border-radius: 50px  ;
    border: 2px solid rgb(71, 69, 69)  ;
    margin-left:300px;
    margin-right: 40px;
    background-color:rgb(71, 69, 69);
    box-sizing:content-box ;
    font-family:"Times new Roman",monospace;
    display: inline-table;
    
    
    
    
}
.box2{
    height:400px;
    width:300px;
    text-align: center;
    border-radius: 50px  ;
    border: 2px solid rgb(71, 69, 69)  ;
    /* margin-left:0px; */ 
    /* margin-right:px; */
    background-color:rgb(71, 69, 69);
    box-sizing:content-box ;
    font-family:"Times new Roman",monospace;
    display: inline-table;
    

    
    
    
}
.abt,.hobbies{
    font-size: 22px;
    
    line-height: 40px;
}

